<div class="flex md:gap-4 flex-col md:flex-row md:items-center md:justify-between mb-6 space-y-4 md:space-y-0">


  <div class="relative flex-1">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
      <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z" />
      </svg>
    </span>
    <input type="text" placeholder="Buscar por clave o nombre..."
      class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
      [(ngModel)]="searchTerm" (ngModelChange)="onFilterChange()" />
  </div>



  <div class="flex-1 relative">
    <button type="button" (click)="toggleDropdown()"
      class="w-full px-4 py-2 border border-gray-300 rounded-xl text-left bg-white focus:outline-none focus:ring-2 focus:ring-indigo-500">
      <span *ngIf="selectedPlans().length; else placeholder">
        {{ formatSelectedPlans() }}
      </span>
      <ng-template #placeholder>Seleccione Planes...</ng-template>
      <svg class="absolute right-3 top-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <div *ngIf="isDropdownOpen" class="absolute mt-1 w-full rounded-md bg-white shadow-lg z-10">
      <ul class="max-h-60 overflow-auto py-1">
        <li *ngFor="let plan of plans" class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
          <label class="flex items-center">
            <input type="checkbox" [value]="plan.clave" (change)="onCheckboxChange($event)"
              [checked]="isSelected(plan.clave)" class="mr-2" />
            <span>{{ plan.clave }}</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
